<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pod Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: {{ background_color|default('#fff') }};
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh; /* Set the height to 100% of the viewport height */
        }
    </style>
</head>
<body>
<div class="container">

    {% if error_message %}
        <div id="error-banner">
            <p><strong>Error:</strong> {{ error_message }}</p>
            <p>Please check if the pod is running in a kubernetes pod.</p>
        </div>
    {% endif %}

    <h1>Pod Information</h1>
    <p><strong>Node Name:</strong> {{ podInfo.nodeName }}</p>
    <p><strong>Pod Name:</strong> {{ podInfo.podName }}</p>
    <p><strong>Namespace:</strong> {{ podInfo.namespace }}</p>
    <p><strong>Status:</strong> {{ podInfo.status }}</p>
    <p><strong>Pod IP:</strong> {{ podInfo.pod_ip }}</p>
</div>
</body>
</html>
